<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.system.mapper.MenuMapper">
    <resultMap id="menu" type="com.company.project.system.entity.Menu">
        <id column="id" jdbcType="DECIMAL" property="menuId" />
        <result column="parent_id" jdbcType="DECIMAL" property="parentId" />
        <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="perms" jdbcType="VARCHAR" property="perms" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="type" jdbcType="CHAR" property="type" />
        <result column="order_num" jdbcType="DECIMAL" property="orderNum" />
        <result column="created_at" jdbcType="TIMESTAMP" property="createTime" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="modifyTime" />
    </resultMap>

    <select id="findUserPermissions" resultMap="menu">
        SELECT
            m.perms
        FROM
            admin_role r
        LEFT JOIN admin_user_role ur ON (r.id = ur.role_id)
        LEFT JOIN admin_user u ON (u.id = ur.user_id)
        LEFT JOIN admin_role_menu rm ON (rm.role_id = r.id)
        LEFT JOIN admin_menu m ON (m.id = rm.menu_id)
        WHERE
            u.username = #{username}
        AND m.perms is not null
        AND m.perms &lt;&gt; ''
    </select>

    <select id="findUserMenus" resultMap="menu">
        SELECT
            m.*
        FROM
            admin_menu m
        WHERE
            m.type &lt;&gt; 1
        AND m.id IN (
            SELECT DISTINCT
                rm.menu_id
            FROM
                admin_role_menu rm
            LEFT JOIN admin_role r ON (rm.role_id = r.id)
            LEFT JOIN admin_user_role ur ON (ur.role_id = r.id)
            LEFT JOIN admin_user u ON (u.id = ur.user_id)
            WHERE
                u.username = #{username}
        )
        ORDER BY
          m.order_num
    </select>

    <!-- 递归删除菜单，findMenuChildren为自定义的 MySQL函数，作用为根据当前 menuId递归查找出其所有下级菜单或按钮-->
    <delete id="deleteMenus" parameterType="string">
        DELETE
        FROM
            admin_menu
        WHERE
                menu_id IN ( SELECT m.id FROM ( SELECT menu_id FROM admin_menu WHERE FIND_IN_SET( menu_id, findMenuChildren ( #{menuId} ) ) > 0 ) m )
    </delete>
</mapper>
