<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.system.mapper.RoleMapper">
    <resultMap id="roleMap" type="com.company.project.system.entity.Role">
        <result column="id" jdbcType="DECIMAL" property="roleId" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    </resultMap>

    <select id="findUserRole" resultMap="roleMap">
        SELECT
            r.*
        FROM
            admin_role r
        LEFT JOIN admin_user_role ur ON (r.id = ur.user_id)
        LEFT JOIN admin_user u ON (u.id = ur.user_id)
        WHERE
            u.username = #{username}
    </select>

    <select id="findRolePage" parameterType="role" resultType="role">
        SELECT
            r.id roleId,
            r.role_name roleName,
            r.remark,
            r.created_at createdAt,
            r.updated_at updatedAt,
            GROUP_CONCAT( rm.menu_id ) menuIds
        FROM
            admin_role r
                LEFT JOIN admin_role_menu rm ON ( r.id = rm.role_id )
        WHERE 1 = 1
        <if test="role.roleName != null and role.roleName != ''">
            AND r.role_name like CONCAT('%',#{role.roleName},'%')
        </if>
        GROUP BY
        r.id
    </select>
</mapper>
