<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.webapp.system.mapper.UserMapper">
    <sql id="countUserDetailSql" >
        SELECT
        COUNT(1)
        FROM
        admin_user u
        WHERE 1 = 1
        <if test="user.username != null and user.username != ''">
            AND u.username = #{user.username}
        </if>
        <if test="user.deptId != null and user.deptId != ''">
            AND d.dept_id = #{user.deptId}
        </if>
        <if test="user.sex != null and user.sex != ''">
            AND u.sex = #{user.sex}
        </if>
        <if test="user.status != null and user.status != ''">
            AND u.status = #{user.status}
        </if>
        <if test="user.mobile != null and user.mobile != ''">
            AND u.mobile = #{user.mobile}
        </if>
        <if test="user.createTimeFrom != null and user.createTimeFrom !=''">
            And u.created_at &gt; #{user.createTimeFrom}
        </if>
        <if test="user.createTimeTo!= null and user.createTimeTo !=''">
            And u.created_at &lt; #{user.createTimeTo}
        </if>
    </sql>

    <sql id="findUserDetailSql">
        SELECT
            u.id userId,
            u.username,
            u.email,
            u.mobile,
            u.status,
            u.created_at createdAt,
            u.sex sex,
            u.dept_id deptId,
            u.last_login_time lastLoginTime,
            u.updated_at,
            u.description,
            u.avatar,
            d.dept_name deptName,
            GROUP_CONCAT(r.id) roleId,
            GROUP_CONCAT(r.role_name) roleName
        FROM
          admin_user u
        LEFT JOIN admin_dept d ON (u.dept_id = d.id)
        LEFT JOIN admin_user_role ur ON (u.id = ur.user_id)
        LEFT JOIN admin_role r ON r.id = ur.user_id
        WHERE 1 = 1
        <if test="user.username != null and user.username != ''">
            AND u.username = #{user.username}
        </if>
        <if test="user.deptId != null and user.deptId != ''">
            AND d.id = #{user.deptId}
        </if>
        <if test="user.sex != null and user.sex != ''">
            AND u.sex = #{user.sex}
        </if>
        <if test="user.status != null and user.status != ''">
            AND u.status = #{user.status}
        </if>
        <if test="user.mobile != null and user.mobile != ''">
            AND u.mobile = #{user.mobile}
        </if>
        <if test="user.createTimeFrom != null and user.createTimeFrom !=''">
            And u.created_at &gt; #{user.createTimeFrom}
        </if>
        <if test="user.createTimeTo!= null and user.createTimeTo !=''">
            And u.created_at &lt; #{user.createTimeTo}
        </if>
        group by u.id
    </sql>

    <select id="countUserDetail" parameterType="user" resultType="long">
        <include refid="countUserDetailSql"/>
    </select>

    <select id="findUserDetailPage" parameterType="user" resultType="user">
        <include refid="findUserDetailSql"/>
    </select>

    <select id="findUserDetail" parameterType="user" resultType="user">
        <include refid="findUserDetailSql"/>
    </select>

    <select id="findByName" parameterType="string" resultType="user">
        SELECT
        u.id userId,
        u.username,
        u.email,
        u.mobile,
        u.password,
        u.status,
        u.created_at createdAt,
        u.sex sex,
        u.dept_id deptId,
        u.last_login_time lastLoginTime,
        u.updated_at updatedAt,
        u.description,
        u.avatar,
        u.theme,
        u.is_tab isTab,
        d.dept_name deptName,
        GROUP_CONCAT(r.id) roleId,
        GROUP_CONCAT(r.role_name) roleName
        FROM
        admin_user u
        LEFT JOIN admin_dept d ON (u.dept_id = d.id)
        LEFT JOIN admin_user_role ur ON (u.id = ur.user_id)
        LEFT JOIN admin_role r ON r.id = ur.user_id
        WHERE  u.username = #{username}
        group by u.id
    </select>
</mapper>
